    /*
    Flaticon icon font: Flaticon
    Creation date: 26/08/2020 12:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-volume:before { content: "\f100"; }
.flaticon-link:before { content: "\f101"; }
.flaticon-font:before { content: "\f102"; }
.flaticon-hardware-hotspot:before { content: "\f103"; }
.flaticon-picture:before { content: "\f104"; }
.flaticon-question:before { content: "\f105"; }
.flaticon-list:before { content: "\f106"; }
.flaticon-rating:before { content: "\f107"; }
.flaticon-pause:before { content: "\f108"; }
.flaticon-hurdle-race:before { content: "\f109"; }
    
    $font-Flaticon-volume: "\f100";
    $font-Flaticon-link: "\f101";
    $font-Flaticon-font: "\f102";
    $font-Flaticon-hardware-hotspot: "\f103";
    $font-Flaticon-picture: "\f104";
    $font-Flaticon-question: "\f105";
    $font-Flaticon-list: "\f106";
    $font-Flaticon-rating: "\f107";
    $font-Flaticon-pause: "\f108";
    $font-Flaticon-hurdle-race: "\f109";